# Node modules (if you ever add a Node.js package)
node_modules/

# Logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Build files
dist/
build/

# Cache files
.cache/
.vscode/
*.env

# IDE specific files
.idea/
*.iml

# Favicon files (optional, if dynamically generated)
*.ico
